body{
    background-color: rgba(67, 85, 83, 0.651) !important;
}
.container{
    padding: 10px;
}
#logo{
    width: 80px;
    border-radius: 20%;
}
.card{
    border-radius: 5% !important;
    background-color: rgb(155, 192, 233) !important;
    box-shadow: 10px 10px 5px 5px rgba(39, 53, 79, 0.493);
    margin: 30px;
    left: -30px;
}
#nav{
    position: fixed;
    z-index: 2;
    width: 100%;
}
